body {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    background-color: #faf6e9;
    padding: 1rem 10%;
}

main {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fffdf6;
    border-radius: 10px;
}

/* banner */
#banner {
    overflow: hidden;
    margin-bottom: 1rem;
}
#banner-picture {
    width: 100%;
    background-color: #494949;
}

#about-me {
    display: flex;
    flex-direction: column;
}

/* skill icons */

#skills {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#skill-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.skill-icon {
    width: 60%;
    align-self: center;
}


/* project list */
#projects-folder {
    width: 100%;
}

#projects-folder ul {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.project {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 60%;
    min-width: 100px;
    position: relative;

    margin: 15px;
    background-color: #ece8d9;
    padding: 10px;
    border-radius: 20px;
    border: 2px transparent;
}

#project1 h3,
    #project3 h3 {
        font-size: 1.5rem;
}

@keyframes colorCycle {
    0% {
        border: 2px #3498db solid;
    }
    25% {
        border: 2px #e74c3c solid;
    }
    50% {
        border: 2px #2ecc71 solid;
    }
    75% {
        border: 2px #f39c12 solid;
    }
    100% {
        border: 2px #3498db solid;
    }
}

.project:hover {
    scale: 1.05;
    transition: scale 0.1s ease-in-out;
    cursor: pointer;
    animation: colorCycle 2.5s infinite;
}



@media only screen and (max-width: 700px){

    body {
        padding: 1rem 5%;
    }

    #projects-folder ul{
        display: flex;
        flex-direction: column;
    }
    .project {
        width: 80%;
    }
}

@media only screen and (min-width: 1439px) {
    body {
        font-size: 25px;
    }

    #project1 h3,
    #project3 h3 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 2560px) {
    body {
        font-size: 39px;
    }
    #project1 h3,
    #project3 h3 {
        font-size: 3.4rem;
    }
}
