body {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    background-color: #FAF6E9;
}

main {
    margin-top: 30px;
}



#about-me {
    display: flex;
    flex-direction: column;
}

/* skill icons */

#skills{
    display: flex;
    flex-direction: column;
}

#skill-list{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.skill-icon {
    margin: 10px;
    width: 40px;
}
.skill-icon #icon-css{
    width: 10px;
}