body {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    background-color: #faf6e9;
    padding: 1rem 10%;
}
main {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fffdf6;
    border-radius: 10px;
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#links{
    display: flex;
    justify-content: space-evenly;
}

#email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#email p {
    font-size: 0.8em;
}


@media only screen and (min-width: 2560px) {
    body {
        font-size: 39px;
    }
}

@media only screen and (min-width: 1439px) {
    body {
        font-size: 25px;
    }
}

@media only screen and (max-width: 700px){

    body {
        padding: 1rem 5%;
    }
}